@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Karla:regular,italic&display=swap);

@import url(https://fonts.googleapis.com/css?family=Ovo:regular&display=swap);

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,700&display=swap);

@font-face {
  font-family: "MyriadPro";
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Karla";
}

input,
button,
textarea {
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0px;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.btn {
  font-size: 18px;
  border-radius: 5px;
  display: inline-block;
  padding: 12px 57px;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
}

.container--800px {
  max-width: 800px !important;
}

.header {
  padding-top: 20px;
  margin-bottom: 95px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 10;
}

.header__burger {
  display: none;
}

.header__menu .header__btn {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -20px;
}

.header__link {
  font-size: 18px;
  color: #ffffff;
  padding: 5px 10px;
  margin: 0px 20px;
}

.header__link a {
  color: inherit;
}

.header__link.active {
  background-color: #2d2d35;
}

.header__btn {
  background-color: #da6f5b;
  color: #ffffff;
}

.header__btn:active {
  background-color: #d55d46;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.top {
  background: url(../img/bg.jpg) 100% 100%/cover no-repeat;
  min-height: 750px;
  padding-bottom: 50px;
}

.text {
  text-align: center;
}

.text__title {
  font-size: 72px;
  color: #ffffff;
  max-width: 740px;
  margin: 0 auto;
  max-height: 150px;
  font-family: "Playfair Display";
  font-weight: 700;
  overflow: hidden;
  margin-bottom: 25px;
}

.text__subtitle {
  font-size: 18px;
  line-height: 166.66667%;
  color: #ffffff;
  overflow: hidden;
  max-width: 500px;
  max-height: 60px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.text__arrow {
  margin-bottom: 25px;
}

.form {
  padding: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.form__title {
  font-family: "PlayFair Display";
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 15px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 23px;
}

.form__name {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 324px;
          flex: 0 1 324px;
}

.form__essay {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 324px;
          flex: 0 1 324px;
}

.form__number {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 324px;
          flex: 0 1 324px;
}

.form__btn {
  color: #ffffff;
  background-color: #da6f5b;
}

.form__btn:active {
  background-color: #d55d46;
}

.form__name input,
.form__essay select,
.form__number select {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: "MyriadPro";
  font-size: 18px;
  line-height: 316.66667%;
  padding: 0px 28px;
  background-color: #49494a;
  border-radius: 5px;
  color: #ffffff;
}

.form__essay,
.form__number {
  position: relative;
}

.form__essay:after,
.form__number:after {
  content: url(../../img/icons/select-arrow.png);
  display: inline-block;
  position: absolute;
  right: 28px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider {
  margin: 0 auto 40px;
  position: relative;
}

.slider__item {
  margin: 0 35px;
  -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
          box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
  padding: 40px 70px 30px;
  border-radius: 5px;
}

.slider__text {
  font-size: 18px;
  line-height: 166.66667%;
  font-style: italic;
  color: #5b5e6b;
  margin-bottom: 30px;
}

.slider__signature {
  text-align: left;
  font-family: "Ovo";
  font-size: 18px;
  color: #2d2d35;
}

/* Слайдер */

/* Слайдер запущен */

/* Слайдер с точками */

/* ------------------------------------------------------------------------------------------------------- */

/* Ограничивающая оболочка */

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* ------------------------------------------------------------------------------------------------------- */

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* ------------------------------------------------------------------------------------------------------- */

/* Стрелка */

.slick-arrow {
  font-size: 0;
  background-color: transparent;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 50;
}

/* Стрелка влево */

.slick-arrow.slick-prev {
  left: 1px;
}

/* Стрелка вправо */

.slick-arrow.slick-next {
  right: 1px;
}

/* Стрелка не активная */

/* ------------------------------------------------------------------------------------------------------- */

/* Точки (булиты) */

/* Активная точка */

/* Элемент точки */

/* Активный элемент точки */

/* !!! если слайдер находится внутри flex-элемента либо он сам flex-элемент, тогда для flex-элемента нужно обязательно указать параметр       min-width: 0;     */

.bottom {
  margin: 85px 0px 80px;
  text-align: center;
}

.bottom__title {
  font-family: "Playfair Display";
  color: #2d2d35;
  font-size: 48px;
  margin-bottom: 35px;
}

.bottom__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 730px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  position: relative;
}

.bottom__separator {
  max-width: 560px;
  width: 100%;
  height: 1px;
  background-color: #f1f5f7;
  position: absolute;
  top: -110px;
  left: 85px;
}

.bottom__number {
  font-family: "Ovo";
  font-size: 24px;
}

.bottom__btn {
  color: #da6f5b;
  border: 1px solid #da6f5b;
}

.bottom__btn:active {
  -webkit-transform: translate(2px, 2px);
      -ms-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }

  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }

  .form__name {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-bottom: 17px;
  }

  .form__essay {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-bottom: 17px;
  }

  .form__number {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-bottom: 17px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }

  .container--800px {
    max-width: 540px !important;
  }

  .slider__text {
    font-size: 16px;
    line-height: 150%;
  }

  .slider__signature {
    text-align: center;
  }

  .bottom__row {
    margin: 0px 35px;
  }

  .bottom__separator {
    max-width: 370px;
    left: 50px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .header__menu .header__btn {
    display: inline-block;
    margin-bottom: 60px;
  }

  .header__btn {
    display: none;
  }

  .text__title {
    font-size: 36px;
    max-height: 111px;
  }
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 19px;
    z-index: 6;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    top: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #2d2d35;
    padding: 100px 0 0 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
    text-align: center;
  }

  .header__link {
    margin: 0 0 30px 0;
  }

  .header__link.active {
    background-color: transparent;
    text-decoration: underline;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }

  .btn {
    padding: 12px 87px;
    font-size: 16px;
  }

  .text__subtitle {
    font-size: 16px;
    max-height: 100px;
  }

  .form {
    padding: 20px;
  }

  .form__title {
    font-size: 16px;
  }

  .form__name input,
  .form__essay select,
  .form__number select {
    font-size: 16px;
    line-height: 275%;
  }

  .bottom {
    margin: 46px 0px 50px;
  }

  .bottom .container {
    padding: 0;
  }

  .bottom__title {
    font-size: 36px;
  }

  .bottom__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .bottom__separator {
    top: -125px;
    left: auto;
  }

  .bottom__number {
    margin-bottom: 25px;
  }

  .bottom__btn {
    padding: 12px 53px;
  }

  .slider__item {
    margin: 0px 15px;
    padding: 30px 20px 50px;
  }
}